accelerate==0.28.0
bitsandbytes==0.41.0
datasets==2.18.0
lm_eval==0.4.2
numpy==1.23.4
tqdm==4.64.1
transformers==4.45.2
torch==2.4.0
fast-hadamard-transform
termcolor
sentencepiece
protobuf
matplotlib

